:root {
    --background: #ffffff;
    --default-1: #fafafa;
    --default-2: #cfcfcf;
    --default-3: #9e9e9e;
    --default-4: #212121;
    --error-1: #ffebee;
    --error-2: #ff7961;
    --error-3: #f44336;
    --error-4: #b71c1c;
    --info-1: #e3f2fd;
    --info-2: #6ec6ff;
    --info-3: #2196f3;
    --info-4: #0d47a1;
    --negative-1: #ffebee;
    --negative-2: #ff7961;
    --negative-3: #f44336;
    --negative-4: #b71c1c;
    --positive-1: #f1f8f9;
    --positive-2: #bef67a;
    --positive-3: #8bc34a;
    --positive-4: #33691e;
    --warn-1: #fff3e0;
    --warn-2: #ffc947;
    --warn-3: #ff9800;
    --warn-4: #e65100;
}

body {
    background: var(--background);
    font-family: arial, sans-serif;
    margin: 0;
}

.alert {
    background: var(--default-1);
    border: thin solid var(--default-4);
    border-radius: 0.2rem;
    color: var(--default-4);
    padding: 0.4rem 0.8rem;
}

.alert--error {
    background: var(--error-1);
    border: thin solid var(--error-4);
    border-radius: 0.2rem;
    color: var(--error-4);
    padding: 0.4rem 0.8rem;
}

.alert--info {
    background: var(--info-1);
    border: thin solid var(--info-4);
    border-radius: 0.2rem;
    color: var(--info-4);
    padding: 0.4rem 0.8rem;
}

.alert--negative {
    background: var(--negative-1);
    border: thin solid var(--negative-4);
    border-radius: 0.2rem;
    color: var(--negative-4);
    padding: 0.4rem 0.8rem;
}

.alert--positive {
    background: var(--positive-1);
    border: thin solid var(--positive-4);
    border-radius: 0.2rem;
    color: var(--positive-4);
    padding: 0.4rem 0.8rem;
}

.alert--warn {
    background: var(--warn-1);
    border: thin solid var(--warn-4);
    border-radius: 0.2rem;
    color: var(--warn-4);
    padding: 0.4rem 0.8rem;
}

.badge {
    background: var(--default-1);
    border: thin solid var(--default-4);
    border-radius: 0.2rem;
    color: var(--default-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.badge--error {
    background: var(--error-1);
    border: thin solid var(--error-4);
    border-radius: 0.2rem;
    color: var(--error-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.badge--info {
    background: var(--info-1);
    border: thin solid var(--info-4);
    border-radius: 0.2rem;
    color: var(--info-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.badge--negative {
    background: var(--negative-1);
    border: thin solid var(--negative-4);
    border-radius: 0.2rem;
    color: var(--negative-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.badge--positive {
    background: var(--positive-1);
    border: thin solid var(--positive-4);
    border-radius: 0.2rem;
    color: var(--positive-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.badge--warn {
    background: var(--warn-1);
    border: thin solid var(--warn-4);
    border-radius: 0.2rem;
    color: var(--warn-4);
    display: inline-block;
    padding: 0.1rem 0.4rem;
}

.button {
    background: var(--default-3);
    border: thin solid var(--default-3);
    border-radius: 0.2rem;
    color: var(--default-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button:focus {
    border-color: var(--default-4);
    box-shadow: 0 0 0 0.2rem var(--default-1);
    outline: 0;
}

.button:hover {
    background: var(--default-2);
}

.button--error {
    background: var(--error-3);
    border: thin solid var(--error-3);
    border-radius: 0.2rem;
    color: var(--error-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button--error:focus {
    border-color: var(--error-4);
    box-shadow: 0 0 0 0.2rem var(--error-1);
    outline: 0;
}

.button--error:hover {
    background: var(--error-2);
}

.button--info {
    background: var(--info-3);
    border: thin solid var(--info-3);
    border-radius: 0.2rem;
    color: var(--info-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button--info:focus {
    border-color: var(--info-4);
    box-shadow: 0 0 0 0.2rem var(--info-1);
    outline: 0;
}

.button--info:hover {
    background: var(--info-2);
}

.button--negative {
    background: var(--negative-3);
    border: thin solid var(--negative-3);
    border-radius: 0.2rem;
    color: var(--negative-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button--negative:focus {
    border-color: var(--negative-4);
    box-shadow: 0 0 0 0.2rem var(--negative-1);
    outline: 0;
}

.button--negative:hover {
    background: var(--negative-2);
}

.button--positive {
    background: var(--positive-3);
    border: thin solid var(--positive-3);
    border-radius: 0.2rem;
    color: var(--positive-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button--positive:focus {
    border-color: var(--positive-4);
    box-shadow: 0 0 0 0.2rem var(--positive-1);
    outline: 0;
}

.button--positive:hover {
    background: var(--positive-2);
}

.button--warn {
    background: var(--warn-3);
    border: thin solid var(--warn-3);
    border-radius: 0.2rem;
    color: var(--warn-1);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    transition: all 0.1s;
}

.button--warn:focus {
    border-color: var(--warn-4);
    box-shadow: 0 0 0 0.2rem var(--warn-1);
    outline: 0;
}

.button--warn:hover {
    background: var(--warn-2);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80rem;
}

.container > * {
    flex-grow: 1;
    margin: 0 0.8rem;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.field div {
    border: thin solid transparent;
    color: var(--default-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field input,
.field select,
.field textarea {
    background: var(--background);
    border: thin solid var(--default-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
    border-color: var(--default-4);
    box-shadow: 0 0 0 0.2rem var(--default-1);
    outline: 0;
}

.field label {
    border: thin solid transparent;
    color: var(--default-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field[data-dirty] label {
    opacity: 0;
}

.field--error {
    display: flex;
    flex-wrap: wrap;
}

.field--error div {
    border: thin solid transparent;
    color: var(--error-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field--error input,
.field--error select,
.field--error textarea {
    background: var(--background);
    border: thin solid var(--error-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field--error input:focus,
.field--error select:focus,
.field--error textarea:focus {
    border-color: var(--error-4);
    box-shadow: 0 0 0 0.2rem var(--error-1);
    outline: 0;
}

.field--error label {
    border: thin solid transparent;
    color: var(--error-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field--error[data-dirty] label {
    opacity: 0;
}

.field--info {
    display: flex;
    flex-wrap: wrap;
}

.field--info div {
    border: thin solid transparent;
    color: var(--info-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field--info input,
.field--info select,
.field--info textarea {
    background: var(--background);
    border: thin solid var(--info-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field--info input:focus,
.field--info select:focus,
.field--info textarea:focus {
    border-color: var(--info-4);
    box-shadow: 0 0 0 0.2rem var(--info-1);
    outline: 0;
}

.field--info label {
    border: thin solid transparent;
    color: var(--info-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field--info[data-dirty] label {
    opacity: 0;
}

.field--negative {
    display: flex;
    flex-wrap: wrap;
}

.field--negative div {
    border: thin solid transparent;
    color: var(--negative-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field--negative input,
.field--negative select,
.field--negative textarea {
    background: var(--background);
    border: thin solid var(--negative-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field--negative input:focus,
.field--negative select:focus,
.field--negative textarea:focus {
    border-color: var(--negative-4);
    box-shadow: 0 0 0 0.2rem var(--negative-1);
    outline: 0;
}

.field--negative label {
    border: thin solid transparent;
    color: var(--negative-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field--negative[data-dirty] label {
    opacity: 0;
}

.field--positive {
    display: flex;
    flex-wrap: wrap;
}

.field--positive div {
    border: thin solid transparent;
    color: var(--positive-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field--positive input,
.field--positive select,
.field--positive textarea {
    background: var(--background);
    border: thin solid var(--positive-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field--positive input:focus,
.field--positive select:focus,
.field--positive textarea:focus {
    border-color: var(--positive-4);
    box-shadow: 0 0 0 0.2rem var(--positive-1);
    outline: 0;
}

.field--positive label {
    border: thin solid transparent;
    color: var(--positive-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field--positive[data-dirty] label {
    opacity: 0;
}

.field--warn {
    display: flex;
    flex-wrap: wrap;
}

.field--warn div {
    border: thin solid transparent;
    color: var(--warn-3);
    flex-basis: 100%;
    font-size: small;
    padding-left: 0.8rem;
}

.field--warn input,
.field--warn select,
.field--warn textarea {
    background: var(--background);
    border: thin solid var(--warn-3);
    border-radius: 0.2rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.1s;
}

.field--warn input:focus,
.field--warn select:focus,
.field--warn textarea:focus {
    border-color: var(--warn-4);
    box-shadow: 0 0 0 0.2rem var(--warn-1);
    outline: 0;
}

.field--warn label {
    border: thin solid transparent;
    color: var(--warn-3);
    cursor: text;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
}

.field--warn[data-dirty] label {
    opacity: 0;
}

.ui--left.container,
.ui--left.field {
    justify-content: flex-start;
}

.ui--left:not(.container):not(.field) {
    text-align: left;
}

.ui--center.container,
.ui--center.field {
    justify-content: center;
}

.ui--center:not(.container):not(.field) {
    text-align: center;
}

.ui--right.container,
.ui--right.field {
    justify-content: flex-end;
}

.ui--right:not(.container):not(.field) {
    text-align: right;
}

::-moz-focus-inner {
    border: 0;
}
